/*!
* Ext JS Library 4.0
* Copyright(c) 2006-2011 Sencha Inc.
* licensing@sencha.com
* http://www.sencha.com/license
*/

/*----------------------------------------------------
    Start Button
*/

.mp-desktop-start-button-icon {
    background-image: url(/desktop/images/desktop/sencha.gif);
    background-color: transparent;
}

.mp-desktop-start-button {
    height: 28px;
    padding: 5px 5px 0 0;
    display: block;
}

.mp-desktop-start-button .x-btn-arrow-right {
    padding-left: 10px;
}

.mp-desktop-start-button .x-btn-inner {
    color: black;
    font-size: 11px;
    font-weight: bold;
}

/*----------------------------------------------------
    Start Menu
*/

.mp-desktop-start-menu-toolbar .x-btn-inner {
    text-align: left;
}

.mp-desktop-start-menu-toolbar {
    padding: 4px !important;
}

.mp-desktop-start-menu .submenu, .submenu {
    background-image: url(/desktop/images/desktop/menu.png);
}

/* Tools */

.mp-desktop-start-menu-toolbar .logout {
    background-image: url(/desktop/images/desktop/logout.png);
}

/* User icons */

.mp-desktop-start-menu .user {
    background-image: url(/desktop/images/desktop/user.png);
}

.mp-desktop-start-menu .admin {
    background-image: url(/desktop/images/desktop/user_suit.png);
}

.mp-desktop-start-menu .manager {
    background-image: url(/desktop/images/desktop/user_gray.png);
}

/*----------------------------------------------------
    TaskBar
*/

/* Use high specificity selector to override default styling*/
div.mp-desktop-taskbar div.x-toolbar {
    background: transparent none;
    border: 0 none;
    padding: 0;
}

.mp-desktop-windowbar .x-btn-inner,
.x-nbr .mp-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}

.mp-desktop-taskbar .x-toolbar {
    height: 28px;
}

.mp-desktop-taskbar {
    height: 28px;
    padding: 0;
}

/*----------------------------------------------------
    Tray Clock
*/

.mp-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}

/*----------------------------------------------------
    Desktop DataView
*/

.mp-desktop-wallpaper {
    background-color: #3d71b8;
}

.mp-desktop-wallpaper-tiled {
    background-repeat: repeat;
}

.mp-desktop-wallpaper-centered {
    background-position: center;
    background-repeat: no-repeat;
}

.mp-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 64px;
}

.mp-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.mp-desktop-shortcut-text {
    font: normal 10px tahoma,arial,verdana,sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}

.x-view-over .mp-desktop-shortcut-text {
    text-decoration: underline;
}

/*----------------------------------------------------
    Notification
*/

.mp-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
    width: 200px;
}

.mp-notification-window .alert-icon {
        background-image: url(/desktop/images/desktop/caution.gif);
}

.mp-notification-window .information-icon {
        background-image: url(/desktop/images/desktop/quote.gif);
}

.mp-notification-window .waiting-icon {
        background-image: url(/desktop/images/desktop/hourglass.gif);
}

.mp-notification-window .done-icon {
        background-image: url(/desktop/images/desktop/clock.gif);
}
