.mp-operator-button {
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.mp-operator-button-eq {
    background-image: url(/desktop/images/filterbar/operator-eq.gif);
}

.mp-operator-button-ne {
    background-image: url(/desktop/images/filterbar/operator-ne.gif);
}

.mp-operator-button-gt {
    background-image: url(/desktop/images/filterbar/operator-gt.gif);
}

.mp-operator-button-lt {
    background-image: url(/desktop/images/filterbar/operator-lt.gif);
}

.mp-operator-button-gte {
    background-image: url(/desktop/images/filterbar/operator-gte.gif);
}

.mp-operator-button-lte {
    background-image: url(/desktop/images/filterbar/operator-lte.gif);
}

.mp-operator-button-like {
    background-image: url(/desktop/images/filterbar/operator-like.gif);
}

.mp-operator-button-start {
    background-image: url(/desktop/images/filterbar/operator-start.gif);
}

.mp-filterbar-filter-icon {
    background-image: url(/desktop/images/filterbar/filter.png);
}

.mp-filterbar-clear-filters-icon {
    background-image: url(/desktop/images/filterbar/clear-filters.png);
}

.x-grid-header-ct .mp-filterbar-column-filtered .x-column-header-inner .x-column-header-text {
    font-weight: bold;
    font-style: italic;
    color: green;
}

.mp-filterbar-clearbutton-icon {
    width: 12px;
    height: 12px;
    background-image: url(/desktop/images/filterbar/clear-text.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 4px;
    background-color: white;
}

.mp-filterbar-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}

.mp-filterbar-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}

.mp-filterbar-clearbutton-mouse-down {
    background-position: 0 -36px;
}

.mp-filterbar-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}

.mp-filterbar-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}
