/* -*- coding: utf-8 -*-
 * :Project:   metapensiero.extjs.desktop --
 * :Created:   lun 14 gen 2013 17:51:21 CET
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2012, 2013, 2016 Lele Gaifax
 */

.mp-form-fieldhint {
    font-size: 9px;
    color: #888888;
}

.mp-form-mandatory-field {
    font-weight: bold;
    text-decoration: underline;
}
