/* -*- coding: utf-8 -*-
 * :Project:   metapensiero.extjs.desktop --
 * :Created:   mer 05 dic 2012 15:49:14 CET
 * :Author:    Lele Gaifax <lele@metapensiero.it>
 * :License:   GNU General Public License version 3 or later
 * :Copyright: © 2012, 2013, 2016 Lele Gaifax
 */

.mp-dirty-record .x-grid-cell {
    background-color: #ffffa8;
}

.mp-new-record .x-grid-cell {
    background-color: #c8ffc8;
}

.mp-deleted-record .x-grid-cell {
    text-decoration: line-through;
    background-color: red;
}
